<?xml version="1.0"?>

<model>
  <name>drone_with_depth_camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>DRDO</name>
  </author>
  


  <description>
    DRONE IN GAZEBO ENVIROMENT WITH ARDUPILOT FIRMWARE

    added a DEPTH CAMERA AND rgb CAMERA
  </description>
</model>
